.Card-body {
    width: 15rem;
    margin: 1em;
   
}

h3{
        align-items: baseline;
    }

.Cardprice {
    font-size: 0.47em;
    color: navy;

}
.Cardtitle{
    font-weight: 200;
    margin: 0em;
}

.viewprod{
    position: relative;
    align-items: center;
    bottom: 0em;

.cartbutton{
    float: left;
    text-align: center;
}

.addtocart {
    float: right;
    text-align: center;
    display: block;
    padding: '10px';
}
}
.card-img-top{
    transition: transform 0.5s;
    padding: auto;
    object-fit: contain;
    max-width: 15em;
    max-height: 20em;
    padding-bottom: 10px;  


    :hover{
     -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    }
}
