@import '~antd/dist/antd.css';
@import "~react-image-gallery/styles/css/image-gallery.css";
.App {
    text-align: center;
    display: contents;
  }

.header { 
    width: 100%;
    display: flex;
}
.body {
    width: 100%;
    margin: 5.5em 0 0 0;
    padding: 10px 40px;
}